<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Migration - Valentin MELE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Music DB
            </h1>
            <p class="subtitle">
                Projet de migration vers <strong>MongoDB</strong>
            </p>
            <div class="columns">
                <div class="column">
                    <p class="title is-4">Question 1</p>
                    <p class="subtitle is-6">Affichage d'une liste des albums</p>
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>Album</th>
                                <th>Artiste</th>
                                <th>Annee</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Album</th>
                                <th>Artiste</th>
                                <th>Annee</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ligne in question_un %}
                            <tr>
                                <td>{{ ligne['album']}} </td>
                                <td>{{ ligne['artiste']}} </td>
                                <td>{{ ligne['annee']}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <p class="title is-4">Question 2</p>
                    <p class="subtitle is-6">Affichage d'une liste des artistes</p>
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>Artiste</th>
                                <th>Pays</th>
                                <th>Genre</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Artiste</th>
                                <th>Pays</th>
                                <th>Genre</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ligne in question_deux %}
                            <tr>
                                <td>{{ ligne['nom']}} </td>
                                <td>{{ ligne['pays']}} </td>
                                <td>{{ ligne['genre']}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="columns">
                <div class="column is-full">
                    <p class="title is-4">Question 3</p>
                    <p class="subtitle is-6">Affichage d'un catalogue d'albums</p>
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Artiste</th>
                                <th>Album</th>
                                <th>Prix</th>
                                <th>Couverture</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Artiste</th>
                                <th>Album</th>
                                <th>Prix</th>
                                <th>Couverture</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ligne in question_trois %}
                            <tr>
                                <td>{{ ligne['artiste']}} </td>
                                <td>{{ ligne['album']}} </td>
                                <td>{{ ligne['prix']}} </td>
                                <td>
                                    <figure class="image is-128x128">
                                        <img
                                            src="file:///C:/Users/papa/Google%20Drive/COURS/I4_EPSI_COURS/noSQL/migration-nosql/{{ ligne['couverture'] }}">
                                    </figure>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>